src/BackendApi/.vs/
src/BackendApi/BackendApi/bin/
src/BackendApi/BackendApi/obj/
src/BackendApi/BackendApi/BackendApi.csproj.user

src/FrontendGym/dist
src/FrontendGym/tmp
src/FrontendGym/out-tsc
src/FrontendGym/bazel-out
src/FrontendGym/node_modules
src/FrontendGym/npm-debug.log
src/FrontendGym/yarn-error.log
src/FrontendGym/.idea/
src/FrontendGym/.project
src/FrontendGym/.classpath
src/FrontendGym/.c9/
src/FrontendGym/*.launch
src/FrontendGym/.settings/
src/FrontendGym/*.sublime-workspace
src/FrontendGym/.vscode/*
src/FrontendGym/!.vscode/settings.json
src/FrontendGym/!.vscode/tasks.json
src/FrontendGym/!.vscode/launch.json
src/FrontendGym/!.vscode/extensions.json
src/FrontendGym/.history/*
src/FrontendGym/.angular/cache
src/FrontendGym/.sass-cache/
src/FrontendGym/connect.lock
src/FrontendGym/coverage
src/FrontendGym/libpeerconnection.log
src/FrontendGym/testem.log
src/FrontendGym/typings
src/FrontendGym/__screenshots__/
src/FrontendGym/.DS_Store
src/FrontendGym/Thumbs.db
